header{
			height: 100px;
			border-bottom:1px solid black;
			background-color: #09405e;
		}

header a img{
	width:100px; 
	height:100px;
	padding-left: 5px;
  margin-left: 38px;
}

.main_container{
	border:1px solid black;
}

header li  {
    float: left;
    width: 100px;
    list-style: none;
}

  header li a {
	 color: white;
    display: block;
    text-align: center;
    padding: 35px 16px;
    text-decoration: none;
}

header img,header nav {
    display:inline-block;
    vertical-align:right;
 }

 .left_block{
 	float: left;
 	width: 40%
 	margin-top:30px;
 }

 .service_image_block{
 	float: left;
 	margin-left: 72px;
 }

 .into-box{
 	margin-top:40px;
 }

.article_box{
	font-size: 18px;
	margin-right: 88px;
	margin-top: 20px;
}

.web_text_box{
	font-size: 18px;
	margin-right: 88px;

}
.web_list_text{
	font-size: 18px;
	margin-right: 88px;
	margin-left: 533px;
    margin-top: 25px;
}

.text-line-html{
	border:1px solid black;
	/*margin-left: 0px;*/
}
.services-second-section{
	height: 600px;
}
.service_second_text {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
    margin-left: 145px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.service_second_image:after {
    content: "";
   /* width: 40%;*/
    display: table;
    clear: both;
}

.article_text {
    font-size: 18px;
    margin-right: 5px;
    margin-top: 20px;
}
.query_text_box{
	font-size: 18px;
    margin-right: 5px;
}

.query_image_box{
	margin-top: 75px;
	width: 400px;
	height: 400px;
}

.service_ajax_image {
    float: left;
    width: 40%;
    height: 300px;
    margin-top: 26px; 
}

.service_ajax_text {
    float: left;
    width: 60%;
    height: 300px; 
}
.ajax_image{
	margin-left:142px;
}
.about_main_section:after {
    content: "";
    display: table;
    clear: both;
}
.php_image_box{
  margin-top: 75px;
  width: 527px;
  height: 405px;
}

.about_left_box {
    float: left;
    width: 30%;
    padding: 10px;
    height: 1200px; /* Should be removed. Only for demonstration */
}

.about_right_box {
    float: left;
    width: 70%;
    padding: 10px;
    height: 1200px; /* Should be removed. Only for demonstration */
}
.about_left_box{
  border-bottom:1px solid black;
  border-right:1px solid black;
}
.service_we_do_box{
  margin-left: 60px;
  margin-top: 20px;
}
.image_about_first{
  margin-top: 30px;
  border-bottom:1px solid black;
  border-right:1px solid black;
  border-left:1px solid black;
  border-top:1px solid black;
}
.ui_image{
  width: 300px;
  height: 300px;
  margin-left: 40px;
}
.ui_development{
  margin-left: 126px;
  margin-top: 10px;
}
.about_right_box{
  border-bottom:1px solid black;
  border-right:1px solid black;
  border-top:1px solid black;
}
.top_about_box{
  border-bottom:1px solid black;
  height: 450px;
  margin-top: 80px;
}
.bottom_about_box{
  height: 450px;
  margin-top: 80px
}
.explanation_image_first{
  float: left;
  width: 25%;
}
.angular_img{
  height: 400px;
}
.explanation_text_first{
    float: left;
    width: 55%;
    margin-left: 148px;
    margin-top: 80px;
    font-size: 19px;
}
.nodejs_img{
  height: 368px;
}
.client_box_one{
  float: left;
  width: 25%;
  height: 345px;
}
.client_box_two{
  float: left;
  width: 25%;
  height: 100px;
}
.client_box_three{
  float: left;
  width: 25%;
  height: 100px;
}
.client_box_four{
  float: left;
  width: 25%;
  height: 100px;
}
.first_client_section{
  height: 400px;
}
.first_client_section img{
  width: 300px;
  height: 300px;
}

.first_client_section h3{
  text-align: center;
}
.blog_text_box{
  float: left;
  width: 70%;
}
.blog_image_box{
  float: left;
  width: 30%;
  height: 1000px;
}
.heading_blog_section {
    margin-left: 70px;
    margin-top: 40px;
    border-bottom:1px solid black;
    height: 120px;
}
.ajax_blog_section {
    margin-left: 70px;
    margin-top: 40px;
    height: 120px;
}
.blog_image_box{
  border-left:1px solid black;
}
.drop_text_box {
    margin-top: 40px;
    height: 200px;
    border-bottom:1px solid black;
}
.select_text{
  margin-left: 65px;
}
.blog_audio {
  margin-left: 50px;
  margin-top: 90px;
}
.audio_box{
  margin-left: 105px;
}
.blog_video{
  margin-top: 123px;
  border-top:1px solid black;
}
.audio_box {
    margin-top: 84px;
    margin-left: 126px;
    margin-bottom: 25px;
}
.video_box {
    margin-top: 105px;
    margin-left: 165px;
    margin-bottom: 25px;
}

video {
    margin-left: 72px;
}
 nav{
 	float: right;
 }
.google_map_text{
	margin-left: 200px;
	margin-bottom: 20px;
}
.contact_form_text{
	margin-left: 150px;
	margin-bottom: 20px;	
}
#form {
	float: left;
	margin-left: 20px;
}
 .contact_left_section{
 	margin-top:30px;
 }

 .contact_right_section{
 	width:50%;
 	float: right;
 	/*margin-top: 20px;*/
 }

 input[type=text],[type=number], select, textarea {
    width: 70%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 30px;
    resize: vertical;
}

input[type=submit] {
    background-color: #09405e;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

footer{
		height: 230px;
		border-bottom:1px solid black;
		background-color: #09405e;
		}


footer .footer_section{
	float: left;
	width: 33.33%;
	padding: 13px;
}

footer h3{
	color: white;
}

.main_footer:after {
    content: "";
    display: table;
    clear: both;
}

* {
    box-sizing: border-box;
    margin:0;
	padding: 0;
}

.important_link{
	margin-left: 40px;
}

.footer_menu li{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100px;
	margin-left: 40px;

}

.footer_menu li a{
	text-decoration: none;
	color:white;
	padding: 14px 20px;
	font-size: 17px;
}

.footer_menu{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	margin-top: 13px;
}

.social_icon {
    margin-top: 18px;
}

video.home_video {
    margin-top: 18px;
}

h3.video_txt_box {
    margin-left: 80px;
}
h3.social_media_text {
    margin-left: 50px;
}

.fa {
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
